reference:
    ref: "/data/ref_genomes/hg19/bwa/BWA_0.7.10_refseq/hg19.with.mt.fasta"
    STAR: "/projects/wp4/nobackup/workspace/jonas_test/STAR-Fusion/references/GRCh37_gencode_v19_CTAT_lib_Apr032020.plug-n-play/ctat_genome_lib_build_dir/ref_genome.fa.star.idx/"
    picard_ref: "/projects/wp4/nobackup/workspace/jonas_test/STAR-Fusion/references/GRCh37_gencode_v19_CTAT_lib_Apr032020.plug-n-play/ctat_genome_lib_build_dir/ref_genome.fa"
    STAR_fusion: "/projects/wp4/nobackup/workspace/jonas_test/STAR-Fusion/references/GRCh37_gencode_v19_CTAT_lib_Apr032020.plug-n-play/ctat_genome_lib_build_dir/"
    Fusion_catcher: "/data/ref_data/fusioncatcher/human_v98/"
    Arriba_index: "/projects/wp4/nobackup/workspace/jonas_test/Arriba/references/STAR_index_hs37d5_GENCODE19/"
    Arriba_ref: "/projects/wp4/nobackup/workspace/jonas_test/Arriba/references/hs37d5.fa"
    Arriba_gtf: "/projects/wp4/nobackup/workspace/jonas_test/Arriba/references/GENCODE19.gtf"
    Arriba_blacklist: "/projects/wp4/nobackup/workspace/jonas_test/Arriba/references/blacklist_hg19_hs37d5_GRCh37_2018-11-04.tsv"
    Arriba_refdir: "/projects/wp4/nobackup/workspace/jonas_test/Arriba/references"


configfiles:
    multiqc: "DATA/multiqc_config.yaml"

bed:
    bedfile: "DATA/Twist_RNA_pool1_2_V4.bed"
    intervals: "DATA/Twist_RNA_pool1_2_V4.interval_list"
    exonbed: "DATA/Twist_RNA_pool1_2_V4.bed"
    fpkm: "DATA/hg19_RefSeq.bed"

singularity:
    default: "docker://gmsuppsala/twist_rna:develop"
    default_arriba: "docker://gmsuppsala/twist_rna_arriba:develop"
    default_starfusion: "docker://gmsuppsala/twist_rna_starfusion:develop"
    default_fusioncatcher: "docker://gmsuppsala/twist_rna_fusioncatcher:develop"
    cartool: "/projects/wp2/nobackup/Twist_Myeloid/Containers/CARTools-200206.simg"
    #execute: "singularity exec -B /data -B /projects -B /scratch "
    #multiqc: "/projects/wp4/nobackup/workspace/somatic_dev/singularity/multiqc-1.9.simg"
    #samtools: "/projects/wp2/nobackup/Twist_Myeloid/Containers/bwa0.7.17-samtools-1.9.simg"
    #picard: "/projects/wp2/nobackup/Twist_Myeloid/Containers/bwa0.7.17-samtools-1.9.simg"
    #bwa: "/projects/wp2/nobackup/Twist_Myeloid/Containers/bwa0.7.17-samtools-1.9.simg"
    #fastqc: "/projects/wp2/nobackup/Twist_Myeloid/Containers/fastqc0.11.8.simg"
    #python: "/projects/wp2/nobackup/Twist_Myeloid/Containers/python3.6.0-pysam-xlsxwriter.simg"
    #bcftools: "/projects/wp2/nobackup/Twist_Myeloid/Containers/bcftools-1.9--8.simg"
    #STAR_fusion: "/projects/wp4/nobackup/workspace/somatic_dev/singularity/star-fusion.v1.7.0.simg"
    #Arriba: "/projects/wp4/nobackup/workspace/somatic_dev/singularity/Arriba.simg"
    #Fusion_catcher: "/projects/wp4/nobackup/workspace/somatic_dev/singularity/fusioncatcher_1.2.0.simg"
    #rseqc: "/projects/wp4/nobackup/workspace/somatic_dev/singularity/RSeQC_3.0.1.simg"


cartool:
    cov: "100 200 1000"
